<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SkylightHotelDatabaseConnectionString" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString2" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString3" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString4" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString5" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString6" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString7" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString8" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString9" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SkylightHotelDatabaseConnectionString10" connectionString="Data Source=K;Initial Catalog=SkylightHotelDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
